body{
	margin: 0px;
	
	background-color: #B1AE9B;
	background-repeat:no-repeat;
    background-size: cover;
}
.ust{
	margin: auto;
	margin-top: 15px;
	width: 1024px;
	height: 70px;
}
.butons{
	margin-left: 70%;
	margin-top: -8%;
}
.btn_giris_kayit{
	
	width: 95%;
	height: 50px;

	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #CFC2AF;
	color: white;
	padding: 14px;
	cursor: pointer;
	border: 2px solid #CFC2AF;
}
.btn_giris_kayit .fa{
	margin-left: 5px;
	margin-bottom: 20px;
}
.btn_giris_kayit:hover{
	background-color: #fff;
	color: #CFC2AF;
	border: 1px solid #CFC2AF;

}
.giris{
 	float: left;
 	width: 130px;
 	height: 50px;
 	margin-left: 12%;
}
.kayit{
	float: left;
	margin-left: 10px;
	width: 130px;
	height: 50px;
}
.menu{
	margin: auto;
	margin-top: 10px;
	width: 1004px;
	height: 45px;
	background-color: #CFC2AF;
	border-radius: 10px;
	color: #fff;
	padding: 10px;
	font-weight: bold;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #CFC2AF;
}
li{
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;	
}
li a:hover{
	background-color: #BFB291;
}
.banner_alt{
	margin: auto;
	margin-top: 0px;
	width: 1024px;
	height: 15px;
}
.banner_slider{
	margin: auto;
	height: 200px;
	padding: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	width: 996px;
	background-color: #CFC2AF;
	border-radius: 12px;
}
.slider1{
	margin-left: 5px;
	border: 2px solid white;
}
.slider1:hover{
	-ms-transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transform: scale(1.3);
}
.butonhareket input{
 	background-color: #CFC2AF;
 	border: 1px solid #666;
 	color: #222;
 	display: inline-block;
 	margin-right: -.25em;
 	outline: 0;
 	opacity: 0;
 	padding: 13px;
 	transition: .55s;
 	-webkit-transition:.55s;
 	-moz-transition:.55s;
 	-ms-transition:.55s;
 	-o-transition:.55s;
 	width: 0;
}
.butonhareket input:hover{
	opacity: 1;
	padding-left: .75em;
	padding-right: .75em;
	width: 11em;
	border-radius: 5px 0 0 5px; 
}
label {
	background-color: #CFC2AF;
	box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
	border:1px;
	cursor:pointer;
	display: inline-block;
	margin-left: -.125em;
	padding: 11px 20px 11px 20px;
	transition: .25s;
	color: #fff;
	text-shadow: 2px 2px 2px #666;
	border-radius: 5px;
	padding: 14px;
}



.ana_govde{
	margin: auto;
	padding: 5px;
	padding-bottom: 10px;
	width: 1014px;
	display:flex;
	background-color: #CFC2AF;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
	
}
.sol{
	margin-top: 5px;
	margin-left: 5px;
	width: 68%;
	background-color: #CFC2AF;
	float: left;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.sag{
	margin-top: 5px;
	margin-left: 10px;
	width: 28%;
	background-color: #CFC2AF;
	float: left;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.film{
	width: 150px;
	height: 383px;
	padding: 5px;
	float: left;
	margin-left: 10px;
	border:1px solid #827839;
	background-color: #BBAD98;
	font-family: Times New Roman;
	font-size: 13px;

}
.butbut{
	width: 145px;
	height: 36px;
	border-radius: 2px;
	border:2px solid black;
	background-color: #FFF;
	font-family: Times New Roman;
	font-size: 16px;
	font-weight: bold;
}
.butbut:hover{
	background-color: #E3E1D5;
	cursor: pointer;
}

.sosyalmedya{
	margin-top: 10px;
	width: 273px;
	height: 107px;
	border: 1px solid #E3D5CA;
	background-color: #E3D5CA;
	color: #FFF;
	padding: 5px;
	border-radius: 8px;
}

.social-icons{
	text-align: center;
}

.social-icons li{
	display: inline-block;
	list-style-type: none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.social-icons li a{
	border-bottom: none;
}

.social-icons li img{
	width: 35px;
	height: 35px;
	margin-right: 0px;
}

.filmbegenilen{
	margin-top: 10px;
	width: 273px;
	height: 600px;
	border: 1px solid #BBAD98;
	background-color: #BBAD98;
	padding: 5px;
	border-radius: 8px;
}

.bfilm{
	margin-left: 5px;
	margin-top: 5px;

}

.bfilm:hover{
	-ms-transform: scale(1.3); 
  -webkit-transform: scale(1.3);
  transform: scale(1.3);

}

.tabloluk{
	margin-top: 10px;
	width: 273px;
	height: 440px;
	background-color: #BBAD98;
	padding: 5px;
	padding-left: 5px;
	padding-top: 10px;
	border-radius: 8px;
	color: white
}

.filmtur{
	margin-top: 10px;
	width: 267px;
	border: 1px solid #BBAD98;
	background-color: #BBAD98;
	padding: 8px;
	padding-bottom: 10px;
	overflow: auto;
	border-radius: 8px;
}

.filmtur2{
	width: 100%;
	height: 20px;
	float: left;
	margin-top: 4px;
	margin-left: 5px;
	color: white;
}

.filmtur2 a{
	text-decoration: none;
	color: white;

}

.filmtur2 a{
	text-decoration: none;
	color: white;

}